<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration is success</title>
</head>
<body>
<p th:text="${user.firstName}"></p>
<p th:text="${user.lastName}"></p>
<p th:text="${user.phone}"></p>
<p th:text="${user.country}"></p>
<p th:text="${user.city}"></p>
<p th:text="${user.age}"></p>
<p th:text="${user.dateRegistered}"></p>
<p th:text="${user.dateLastActive}"></p>
<p th:text="${user.relationshipStatus}"></p>
<p th:text="${user.religion}"></p>
<p th:text="${user.school}"></p>
<p th:text="${user.university}"></p>
<p th:text="${user.messagesSent}"></p>
<p th:text="${user.messagesReceived}"></p>

</body>
</html>